{
    "app": {
        "port": 3001
    },

    "jwt": {
        "expiresIn": "1h"
    },

    "db": {
        "name": "boilerplate",
        "username": "user",
        "password": "p@55w0rd",
        "settings": {
            "host": "localhost",
            "dialect": "mysql",
            "pool": {
                "max": 1,
                "min": 0,
                "idle": 10000
            },
            "logging": true,
            "paranoid": true,
            "timestamps": true,
            "define": {
                "underscored": true
            }
        }
    }
}